
zh*
LICENSE*

*.html
!test/index.html
*.min.js*
*.js.map
*copy*
*BAK*

x_legacy/
node_modules/
*.log

*.php
composer.*
vendor/

*.js
!build/gaad-widget.js
!bin/gaad.js
!bin/_ver.js
!src/*.js
!index.js
