
zh*
LICENSE*
bin/*.js

*.html
!test/index.html
*.min.js
*.sa.js
#data/*.json
src/*.json
*copy*
*.php

x_legacy/
node_modules/
*.log
*.diff

composer.*
vendor/

*.js.map
*BAK*
i18n-texts.js
widget-run.js
