
# zh*
LICENSE*

*.css
*.html
!test/index.html
!test/static.html
*.min.js*
*.js.map
*.*gz
*copy*
*BAK*
/*.png

x_legacy/
package*
!package.json
node_modules/
*.log

*.php
composer.*
vendor/

*.js
!dist/gaad-widget.js
!bin/gaad.js
!bin/_ver.js
!src/*.js
!index.js
locales.json

*analytics*

ndf-*
*.yaml
