/*!
  gaad-widget.js | © 2018 Nick Freear | License: MIT.

  https://github.com/nfreear/gaad-widget
*/

.gaad-widget-js {
  background: #00385E;
  border: 3px solid #f8c958;
  border-radius: 7px;
  color: #fff;
  display: block;
  font: normal 1.1rem 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  margin: 0 0 1.5em;
  padding: 0.8em;
  text-align: center;

  // csslint adjoining-classes: false;
  &.black {
    background: #333;
  }

  &.fontsize-1-em {
    font-size: 1em;
  }

  &.fontsize-1-2em {
    font-size: 1.2em;
  }

  a {
    border-bottom: 2px dotted transparent;
    color: #fff;
    text-decoration: underline;

    &:hover,
    &:focus {
      border-color: #fff;
      color: #eee;
    }
  }

  .p { // a[ href *= '/gaad-widget' ]
    border: 1px solid transparent;
    border-bottom-color: #bbb;
    border-radius: 4px;
    bottom: -8px;
    color: #bbb;
    display: block;
    float: right;
    font-size: 1.05em;
    padding: 1px 9px 0;
    position: relative;
    right: -12px;
    text-decoration: none;
    // background: #bbb;
    // height: .8em;
    // width: .8em;

    &:hover,
    &:focus {
      background: #123;
      color: #fff;
    }

    &:before {
      // 'South-east arrow to corner' - http://www.amp-what.com/
      // content: '\21f2';
      // 'Downwards arrow to bar' - http://xahlee.info/comp/unicode_arrows.html
      // content: '\2913';
    }
  }
}

@media (max-width: 767px) {

  .gaad-widget-js.no-embed {
    border-width: 2px;
    font-size: 1.05em;
    padding: 0.5em;
  }
}

// End.
